html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040407;
  width: 100%;
  height: 100%;
  padding: 18px 24px;
  box-sizing: border-box;
}

.container {
  background-color: #9a9a9a;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;

}

.main-content {
  height: 62%;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
  box-sizing: border-box;
  padding: 8px 16px;
}

.main-content .header-box {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
  line-height: 28px;
}

.main-content .colo-box {
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  padding: 24px 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;
  height: calc(100% - 55px);
}

.main-content .colo-box .top-box {
  display: flex;
  gap: 17px;
}

.main-content .colo-box .top-box .time-box {
  display: flex;
  align-items: center;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  padding: 10px 8px;
  width: 280px;
  height: 54px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.main-content .colo-box .top-box .time-box .label {
  background-color: #32191a;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 24px;
  color: #F4B6B5;
  border-radius: 8px 8px 8px 8px;
  height: fit-content;
  line-height: 24px;
}

.main-content .colo-box .top-box .time-box .time {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 20px;
}

.main-content .colo-box .speed-box {
  background: #0C121F;
  border-radius: 8px 8px 8px 8px;
  border: 2px solid #1C2236;
  height: 47px;
  padding: 10px;
  margin-top: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.main-content .colo-box .speed-box .label {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 12px;
  width: 140px;
}

.main-content .colo-box .speed-box .img {
  height: 29px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  /* opacity: 0.5; */
}

.main-content .colo-box .speed-box .speed-1-img {
  width: 150px;
}

.main-content .colo-box .speed-box .speed-2-img,
.main-content .colo-box .speed-box .speed-3-img {
  width: 117px;
}



.main-content .colo-box .speed-box .mark-box {
  width: 395px;
  position: absolute;
  right: 15px;
  top: -30px;
  transition: width 0.5s ease;
}

.main-content .colo-box .speed-box .mark-box .top-content {
  height: 24px;
}

.main-content .colo-box .speed-box .mark-box .top {
  display: none;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  white-space: nowrap;
  margin-left: -8px;
}

.main-content .colo-box .speed-box .mark-box .mark {
  height: 30px;
  margin-top: 12px;
  background-color: rgba(16, 21, 39, 0.6);
}




.inspection-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #417baf;

}



.bottom-section {
  width: 100%;
  display: flex;
  height: calc(38% - 25px);
  margin-top: 25px;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
  display: flex;
  gap: 18px;
  padding: 8px 13px 16px;
  box-sizing: border-box;
}

.recent-screenshot {
  width: 50%;
  height: 100%;
}

.recent-screenshot .recent-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.recent-screenshot .img-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: calc(100% - 56px);
  text-align: center;
}

.small-placeholder {
  width: 290px;
}


.status-detection {
  width: 50%;
}

.status-detection .status-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.status-detection .status-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 56px);
  box-sizing: border-box;
  margin-top: 8px;
}



.status-item {
  width: 200px;
  height: 56px;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  background: #1B2032;
  border-radius: 100px 100px 100px 100px;
  border: 1px solid #2A3151;
  margin-top: 12px;
  padding: 8px 10px;
  box-sizing: border-box;
  display: none;
  /* opacity: 0.5; */
}

.status-img {
  display: none;
}

.status-item img {
  vertical-align: middle;
  margin-right: 8px;
}