html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 18px 24px;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  gap: 28px;

}

.screen-left {
  width: 65%;
  height: 100%;
  background: #0e1321;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
}

.screen-left-top {
  width: 100%;
  height: 50%;
  padding: 7px 22px;
  box-sizing: border-box;
}

.screen-left-top .heard-box {
  display: flex;
  align-items: center;
  line-height: 28px;
  gap: 20px;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.screen-left-top .heard-box .title-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #1D2542;
}

.screen-left-top .top-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  height: calc(100% - 54px);
  overflow: auto;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  margin-top: 7px;
  box-sizing: border-box;
}

.screen-left-top .top-box::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

.screen-left-top .top-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #A2AFCD;
}

.screen-left-top .top-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #0f1528;
}

.screen-left-top .top-box .img-item {
  width: calc(33.333% - 10px);
  /* 一行三个，减去间距 */
  height: fit-content;
  object-fit: cover;
  /* 保持图片比例 */
}

.screen-left-bottom {
  width: 100%;
  height: 50%;
  padding: 7px 22px;
  box-sizing: border-box;
}

.screen-left-bottom .heard-box {
  display: flex;
  align-items: center;
  line-height: 28px;
  gap: 20px;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.screen-left-bottom .heard-box .title-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #1D2542;
}

.screen-left-bottom .top-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  overflow-y: auto;
  height: calc(100% - 54px);
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  margin-top: 7px;
  box-sizing: border-box;
}

.screen-left-bottom .top-box::-webkit-scrollbar {
  width: 8px;
}

.screen-left-bottom .top-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #A2AFCD;
}

.screen-left-bottom .top-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #0e1321;
}








.screen-left-bottom .top-box .img-item {
  width: calc(33.333% - 10px);
  /* 一行三个，减去间距 */
  height: fit-content;
  object-fit: cover;
  /* 保持图片比例 */
}


.screen-right {
  width: 35%;
  height: 100%;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
  padding: 8px 16px;
  box-sizing: border-box;
}

.screen-right .heard-box {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
  line-height: 28px;
}


.screen-right .right-content {
  height: calc(100% - 64px);
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  margin-top: 16px;
  padding: 20px 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.screen-right .right-content .top-box {
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 70px;
}

.screen-right .right-content .status-box-content {
  width: 423px;
  height: 162px;
  margin-bottom: 20px;
}

.screen-right .right-content .top-box .status-box {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 16px 35px;
  box-sizing: border-box;
  background-color: #301A1B;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid rgba(143, 127, 180, 0.2);
}

.screen-right .right-content .top-box .status-box .colo-status {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 10px;
  line-height: 40px;
}



.screen-right .right-content .time-box {
  width: 340px;
  box-sizing: border-box;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 35px;
}

.screen-right .right-content .time-box .label {
  width: 164px;
  background: #301A1B;
  border-radius: 16px 16px 16px 16px;
  line-height: 32px;
  padding: 10px 8px;
  font-weight: 600;
  font-size: 24px;
  color: #F4B6B5;
  box-sizing: border-box;
  margin-right: 16px;
  height: 52px;
  box-sizing: border-box;
  text-align: center;
}

.screen-right .right-content .time-box .value {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;

}