html{
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  background-color: #f0f0f0;
    width: 100%;
  height: 100%;
}

.container {
  background-color: #9a9a9a;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: #363636;
  color: #ffff00;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}

.main-content {
  height: 60%;
}

.main-content .timeBox {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 20px;
}

.main-content .timeBox .label {
  font-size: 35px;
  background-color: #646463;
  width: 300px;
  border-radius: 35px;
  color: #ffffff;
  padding: 8px 20px;
}

.main-content .timeBox .time {
  position: absolute;
  width: 190px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 35px;
  left: 180px;
  font-size: 35px;
  top: 0px;
  background-color: #999999;
  color: #ffffff;
  padding-left: 40px;
}



.image-placeholder {
  width: 445px;
  height: 396px;
  color: #666;
}



.inspection-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #417baf;

}



.bottom-section {
  width: 100%;
  display: flex;
  height: calc(100% - 60% - 51px);
}

.recent-screenshot {
  width: 60%;
}

.recent-title {
  width: 100%;
  background-color: #363636;
  color: #ffff00;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;

}
.img{
  width: 100%;
 height: calc(100% - 31px);
  background-color: #9a9a9a;
display:flex;
align-items:center;
justify-content:center
}
.small-placeholder {
  width: 100%;
}


.status-detection {
  width: 40%;
}

.status-title {
  width: 100%;
  background-color: #363636;
  color: #ffff00;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}

.status-detection .status-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 31px);
}

.status-item {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;

}


.status-item1 {
  color: #d0d0d0;
}

.status-item2 {
  color: #d0d0d0;

}

.status-item3 {
  color: #d0d0d0;
}
.status-item4{
    display: none;
  color: #74f1a4;
}