html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #040407;
  width: 100%;
  height: 100%;
  padding: 18px 24px;
  box-sizing: border-box;
}



.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0E1320;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
}

.intoTheMirror {
  width: 343px;
  height: 368px;
}

.title {
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 40px;
}

.time {
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 20px;
}