html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #040407;
  width: 100%;
  height: 100%;
  padding: 18px 24px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  overflow: hidden;
}

.top-content {
  height: calc(65% - 25px);
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
  padding: 8px 13px 16px;
  box-sizing: border-box;
}

.top-content .header-box {
  display: flex;
  align-items: center;
}

.top-content .header-box .title {
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
  margin-left: 16px;
}

.top-content .main-content {
  display: flex;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  padding: 24px 17px;
  height: calc(100% - 48px);
  margin-top: 8px;
}

.main-content .left {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.main-content .left .timeBox {
  display: flex;
  align-items: center;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  padding: 10px 8px;
  width: 300px;
  height: 54px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.main-content .left .timeBox .label {
  background-color: #32191a;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 24px;
  color: #F4B6B5;
  border-radius: 8px 8px 8px 8px;
}

.main-content .left .timeBox .time {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 20px;
}

.main-content .left .area-status {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;

}

.main-content .left .area-status .item {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  background: #0C121F;
  border-radius: 8px 8px 8px 8px;
  border: 2px solid #1C2236;
  width: 156px;
  box-sizing: border-box;
}

.main-content .left .area-status .item .status {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 8px;
}

.main-content .left .area-status .item:nth-child(1) .cirle {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 50%;
}

.main-content .left .area-status .item:nth-child(2) .cirle {
  width: 18px;
  height: 18px;
  background: #2DAD83;
  border-radius: 50%;
}

.main-content .left .area-status .item:nth-child(3) .cirle {
  width: 18px;
  height: 18px;
  background: #748CEF;
  border-radius: 50%;
}



.main-content .right {
  overflow: hidden;
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content .right .inspect-area {
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  background: #0C121F;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 54px;
  height: 54px;
  text-align: center;
  margin-bottom: 8px;
}


.main-content .right .right-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  height: 100%;
  overflow-y: auto;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  padding: 17px 0px;

}

.main-content .right .right-list .list-item {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}





.bottom-section {
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  padding: 8px 13px 16px;
  border: 2px solid #1E2431;
  height: 35%;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
  display: flex;
  gap: 18px;
}

.recent-screenshot {
  width: 50%;
  height: 100%;
}

.recent-screenshot .recent-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.recent-screenshot .img-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: calc(100% - 56px);
  text-align: center;
}

.small-placeholder {
  width: 90%;
}


.status-detection {
  width: 50%;
}

.status-detection .status-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.status-detection .status-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: calc(100% - 56px);
  text-align: center;
}

.status-item {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  display: none;
  color: #92f2a0;
}