html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #040407;
  width: 100%;
  height: 100%;
  padding: 18px 24px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  overflow: hidden;
}

.top-content {
  height: calc(65% - 25px);
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1E2431;
  padding: 8px 13px 16px;
  box-sizing: border-box;
}

.top-content .header-box {
  display: flex;
  align-items: center;
}

.top-content .header-box .title {
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
  margin-left: 16px;
}

.top-content .main-content {
  display: flex;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  padding: 24px 17px;
  height: calc(100% - 48px);
  margin-top: 8px;
}

.main-content .left {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.main-content .left .timeBox {
  display: flex;
  align-items: center;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  padding: 10px 8px;
  width: 300px;
  height: 54px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.main-content .left .timeBox .label {
  background-color: #32191a;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 24px;
  color: #F4B6B5;
  border-radius: 8px 8px 8px 8px;
}

.main-content .left .timeBox .time {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 20px;
}

.main-content .left .area-status {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;

}

.main-content .left .area-status .item {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  background: #0C121F;
  border-radius: 8px 8px 8px 8px;
  border: 2px solid #1C2236;
  width: 156px;
  box-sizing: border-box;
}

.main-content .left .area-status .item .status {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 8px;
}

.main-content .left .area-status .item:nth-child(1) .cirle {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 50%;
}

.main-content .left .area-status .item:nth-child(2) .cirle {
  width: 18px;
  height: 18px;
  background: #2DAD83;
  border-radius: 50%;
}

.main-content .left .area-status .item:nth-child(3) .cirle {
  width: 18px;
  height: 18px;
  background: #748CEF;
  border-radius: 50%;
}



.main-content .right {
  overflow: hidden;
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content .right .inspect-area {
  width: 100%;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  background: #0C121F;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 54px;
  height: 54px;
  text-align: center;
  margin-bottom: 8px;
}


.main-content .right .right-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  height: 100%;
  background: #0C121F;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #1C2236;
  padding: 15px 0px;

}

.main-content .right .right-list .list-item {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}





.bottom-section {
  background: #0E1320;
  border-radius: 16px 16px 16px 16px;
  padding: 8px 13px 16px;
  border: 2px solid #1E2431;
  height: 35%;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
  display: flex;
  gap: 18px;
}

.recent-screenshot {
  width: 50%;
  height: 100%;
}

.recent-screenshot .recent-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.recent-screenshot .img-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: calc(100% - 56px);
  text-align: center;
}

.small-placeholder {
  width: 90%;
}


.status-detection {
  width: 50%;
}

.status-detection .status-title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  color: #A2AFCD;
}

.status-detection .status-box {
  width: 100%;
  background: #0F1527;
  border-radius: 16px 16px 16px 16px;
  border: 2px solid #262F4F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: calc(100% - 56px);
  text-align: center;
}

.status-item {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  display: none;
  color: #92f2a0;
}

/* 唤醒图标 */
.huanxing-box {
  position: fixed;
  top: 2%;
  right: 20px;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}

.huanxing-box.show {
  z-index: 99;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.pulse-siri {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 核心发光边框 */
.pulse-siri::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2af598, #009efd);
  z-index: -1;
  filter: blur(2px);
}

.icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../image/icon.png");
  background-size: cover;
  background-position: center;
  /* 稍微缩小一点让出边框 */
  transform: scale(0.92);
}

/* 波纹通用样式 */
.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(0, 221, 255, 0.5);
  box-shadow: 0 0 20px rgba(0, 221, 255, 0.2);
  opacity: 0;
  z-index: 1;
}

.ripple:nth-child(1) {
  animation: ripple-anim 2.5s linear infinite;
  animation-delay: 0s;
  border-color: #ff0055;
}

.ripple:nth-child(2) {
  animation: ripple-anim 2.5s linear infinite;
  animation-delay: 0.8s;
  border-color: #00ffaa;
}

.ripple:nth-child(3) {
  animation: ripple-anim 2.5s linear infinite;
  animation-delay: 1.6s;
  border-color: #00ddff;
}

/* 当m-image-box显示时，隐藏huanxing-box的波纹 */
.huanxing-box.hide-ripple .ripple {
  display: none;
}

@keyframes ripple-anim {
  0% {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    border-width: 4px;
  }

  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
    border-width: 0px;
  }
}

/* M键唤醒图片 */
.modal {
  position: fixed;
  top: 28%;
  right: 20px;
  transform: translateY(-50%);
  z-index: -999;
  opacity: 0;
  transform: translateY(-50%) scale(0.5);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
  padding: 10px;
  background-color: rgba(9, 9, 12, 0.9)
}

.modal.show {
  z-index: 99;
  opacity: 1;
  transform: translateY(-50%) scale(1);
  pointer-events: auto;
}

.modal .m-box {
  border: 2px solid #262F4F;
  border-radius: 16px;
  width: 400px;
  overflow: hidden;
}



.m-box .box-content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* background-color: #141625; */
  padding: 15px;
  overflow-y: auto;

}

.m-box .box-content::-webkit-scrollbar {
  width: 4px;
}

.m-box .box-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #3a3e58;
}

.m-box .box-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #0e1321;
}



.m-box .box-content .user {
  max-width: 80%;
  padding: 15px;
  border-radius: 16px;
  background-color: #282b48;
  width: fit-content;
  margin-left: auto;
}

.m-box .box-content .user .desc {
  color: #dcdce2;
  margin-bottom: 12px;
  font-size: 22px;
}

.m-box .box-content .user .time {
  color: #45517e;
  margin-top: 12px;
}

.m-box .box-content .left-copilot {
  max-width: 80%;
  margin-right: auto;

  width: fit-content;
}

.m-box .box-content .left-copilot .avatar-box {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #bebfc3;
  margin-bottom: 10px;
}


.m-box .box-content .left-copilot .content {
  color: #dcdce2;
  margin-bottom: 12px;
  font-size: 22px;
  padding: 15px;
  border-radius: 16px;
  background-color: #282b48;
}

.m-box .box-content .left-copilot .content .desc {
  color: #dcdce2;
  margin-bottom: 12px;
  font-size: 22px;
}

.m-box .box-content .left-copilot .content .time {
  color: #45517e;
  margin-top: 12px;
  font-size: 16px;
}